[submodule "thirdParty/toml11"]
	path = thirdParty/toml11
	url = https://github.com/ToruNiina/toml11.git
[submodule "thirdParty/googletest"]
	path = thirdParty/googletest
	url = https://github.com/google/googletest.git
